.adduser{
    padding-left: 120px;
    padding-top: 50px;
}
.adduserform{
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 120px;
    background-color: #ffff;
}
.userform{
   margin-left: 120px;
   margin-right: 120px;
   background-color: #ffff;
   margin-top: 20px;
}
*{
    background-color: #f3f4f6;
}
.filterstores{
    margin-left: 120px;
   margin-right: 120px;
   background-color: #ffff;
   margin-top: 20px;

}
.filterstoresform{
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 120px;
    background-color: #ffff;
     
}
